# Big Data Project: House Prices - Advanced Regression Techniques
Presentazione del progetto di esame dell'a.a. 2021-2022 di Big Data del CLM in Ingegneria Informatica. Il lavoro presentato comprende lo svolgimento della competizione Kaggle __[House Prices - Avanced Regression Techniques]([http://url](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques))__, in cui viene richiesta un'analisi predittiva sul valore di mercato di abitazioni, sulla base di variabili descrittive di una moltitudine di caratteristiche degli immobili che, in diversa misura, ne influiscono sul prezzo.

![banner](./imgs/housesbanner.png)

Il __[dataset](http://jse.amstat.org/v19n3/decock.pdf)__ (De Cock, 2011) a disposizione è un file `csv` contenente informazioni sulle abitazioni della cittadina di __[Ames](https://www.google.com/maps/place/Ames,+IA,+USA/@42.0258192,-93.6964163,12z/data=!3m1!4b1!4m5!3m4!1s0x87ee70624634a06b:0x273156083cc75200!8m2!3d42.0307812!4d-93.6319131)__, nello stato americano dell'Iowa. In compendio al dataset, viene anche fornita una dettagliata __[descrizione](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data)__ dei singoli campi:

- **SalePrice** - the property's sale price in dollars. This is the target variable that you're trying to predict.
- MSSubClass: The building class
- MSZoning: The general zoning classification
- LotFrontage: Linear feet of street connected to property
- LotArea: Lot size in square feet
- Street: Type of road access
- Alley: Type of alley access
- LotShape: General shape of property
- LandContour: Flatness of the property
- Utilities: Type of utilities available
- LotConfig: Lot configuration
- LandSlope: Slope of property
- Neighborhood: Physical locations within Ames city limits
- Condition1: Proximity to main road or railroad
- Condition2: Proximity to main road or railroad (if a second is present)
- BldgType: Type of dwelling
- HouseStyle: Style of dwelling
- OverallQual: Overall material and finish quality
- OverallCond: Overall condition rating
- YearBuilt: Original construction date
- YearRemodAdd: Remodel date
- RoofStyle: Type of roof
- RoofMatl: Roof material
- Exterior1st: Exterior covering on house
- Exterior2nd: Exterior covering on house (if more than one material)
- MasVnrType: Masonry veneer type
- MasVnrArea: Masonry veneer area in square feet
- ExterQual: Exterior material quality
- ExterCond: Present condition of the material on the exterior
- Foundation: Type of foundation
- BsmtQual: Height of the basement
- BsmtCond: General condition of the basement
- BsmtExposure: Walkout or garden level basement walls
- BsmtFinType1: Quality of basement finished area
- BsmtFinSF1: Type 1 finished square feet
- BsmtFinType2: Quality of second finished area (if present)
- BsmtFinSF2: Type 2 finished square feet
- BsmtUnfSF: Unfinished square feet of basement area
- TotalBsmtSF: Total square feet of basement area
- Heating: Type of heating
- HeatingQC: Heating quality and condition
- CentralAir: Central air conditioning
- Electrical: Electrical system
- 1stFlrSF: First Floor square feet
- 2ndFlrSF: Second floor square feet
- LowQualFinSF: Low quality finished square feet (all floors)
- GrLivArea: Above grade (ground) living area square feet
- BsmtFullBath: Basement full bathrooms
- BsmtHalfBath: Basement half bathrooms
- FullBath: Full bathrooms above grade
- HalfBath: Half baths above grade
- Bedroom: Number of bedrooms above basement level
- Kitchen: Number of kitchens
- KitchenQual: Kitchen quality
- TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
- Functional: Home functionality rating
- Fireplaces: Number of fireplaces
- FireplaceQu: Fireplace quality
- GarageType: Garage location
- GarageYrBlt: Year garage was built
- GarageFinish: Interior finish of the garage
- GarageCars: Size of garage in car capacity
- GarageArea: Size of garage in square feet
- GarageQual: Garage quality
- GarageCond: Garage condition
- PavedDrive: Paved driveway
- WoodDeckSF: Wood deck area in square feet
- OpenPorchSF: Open porch area in square feet
- EnclosedPorch: Enclosed porch area in square feet
- 3SsnPorch: Three season porch area in square feet
- ScreenPorch: Screen porch area in square feet
- PoolArea: Pool area in square feet
- PoolQC: Pool quality
- Fence: Fence quality
- MiscFeature: Miscellaneous feature not covered in other categories
- MiscVal: $Value of miscellaneous feature
- MoSold: Month Sold
- YrSold: Year Sold
- SaleType: Type of sale
- SaleCondition: Condition of sale

Kaggle mette a disposizione i file `train.csv` e `test.csv`, necessari rispettivamente per l'addestramento del modello predittivo e la valutazione finale (su cui verrà calcolato lo score della competizione), che presentano la stessa struttura eccetto naturalmente per la colonna **SalePrice**, assente in `test.csv`, associata alla variabile target su cui bisognerà effettuare la predizione. 

Quello presentato è un problema di regressione, in cui risulta cruciale anche lo stage di analisi e preparazione dei dati da fornire al modello di apprendimento, in quanto il numero di campi per ogni record/casa è considerevole (79) e la mancata imputazione di dati mancanti e/o errati, così come la scelta di feature non rilevanti ai fini della valutazione del costo, può significativamente impattare l'efficacia dei regressori utilizzati.


## 0. Ambiente di lavoro e tecnologie utilizzate
L'analisi e l'addestramento sono interamente realizzati in Python (v3.8.2) tramite le rispettive API per l'interfacciamento con le tecnologie di Big Data per storage e processing distribuiti. 

In particolare, il framework per l'implementazione dell'architettura Big Data è composto da:
- ``Hadoop Distributed File System`` (HDFS v3.3.0) per la gestione (distribuita) delle repository contenenti i file di input/output ed elaborazione intermedia. **Nota**: il cluster Hadoop, in questo caso, è costituito da un solo nodo, in quanto la dimensione del dataset di lavoro è di poche centinaia di kB (460.68 kB per `train.csv` e 451.41 kB per `test.csv`), che rientra in un solo blocco HDFS, la cui dimensione standard è di 128 MB.
- ``Apache Spark`` (v3.3.0) come engine di data processing distribuito e la relativa API Python `pyspark`, che contiene sia le funzionalità di analisi dei dati secondo la filosofia dei DataFrame (ed RDD) (come nel caso di `pyspark.sql`), sia gli __[algoritmi di machine learning più diffusi](https://spark.apache.org/docs/latest/ml-guide.html)__ (localizzati in `pyspark.ml`).

Analisi ed elaborazioni sul dataset sono in gran parte svolte tramite le funzionalità messe a disposizione da `pyspark`, che gestisce in maniera autonoma l'esecuzione distribuita su cluster e il monitoraggio delle risorse e degli stati di completamento dei job lanciati. In alcuni casi verranno anche sfruttate le funzionalità aggiuntive dei DataFrame `pandas`, che, seppur di natura simile a quella dei DF Spark, presentano una maggior compatibilità con alcuni strumenti di analisi secondari come quelli di visualizzazione (`matplotlib` e `seaborn`). Ciononostante, l'utilizzo di DF `pandas` viene mantenuto fortemente limitato, in quanto il metodo `toPandas()`, che effettua la conversione di DataFrame a partire da Spark, __[sposta lo storage e l'elaborazione in locale](https://stackoverflow.com/questions/29226210/what-is-the-spark-dataframe-method-topandas-actually-doing)__, annullando di fatto la distribuzione e parallelizzazione delle computazioni. In uno scenario reale di Big Data naturalmente ciò è fortemente indesiderato in quanto una singola macchina potrebbe non disporre delle risorse necessarie per gestire internamente un quantitativo di dati che era precedentemente sparso su diversi nodi del cluster. Pertanto, ai fini di rimanere il più fedeli possibile ad una reale, pratica analisi Big Data, `toPandas()` verrà applicato in poche occasioni e solo su sottoinsiemi (e.g., selezioni, proiezioni, aggregazioni, ecc...) del dataset completo.

Il progetto verrà descritto in dettaglio nel presente notebook Jupyter, utilizzando il markdown per argomentare le scelte effettuate e commentare i risultati ottenuti, e lasciando ai commenti entro le celle di codice Python il chiarimento degli aspetti implementativi.

## 1. Setup dell'ambiente

### 1.1 HDFS
Una volta installato e configurato Hadoop in Windows, i suoi componenti vengono avviati eseguendo il file di scripting DOS `start-dfs.cmd`, che istanzia il FS, il gestore di risorse, così come il namenode e il singolo datanode, tutto in localhost (LAPTOP-MQUB85DE):

![datanode](./imgs/datanode_gui.png)

Sfrutto quindi l'__[API di Kaggle](https://github.com/Kaggle/kaggle-api)__ per recuperare tutti i dati necessari col comando
```bash
 > kaggle competitions download -c house-prices-advanced-regression-techniques
```
e popolo il FS Hadoop con `hdfs dfs -put /local/path/to/data /hdfs/path/` per ottenere una struttura del tipo 

![datapaths](./imgs/datapaths.png)

### 1.2 Spark
Eseguo quindi anche il setup di Spark con l'usuale prologo per reperire il percorso dell'eseguibile e istanziare la `SparkSession`:

In [1]:
import findspark 

location = findspark.find()
findspark.init(location)

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HousePrices - S. Zammuto').getOrCreate()

# visualizzo le informazioni sulla sessione creata
spark.sparkContext

Per completare l'inizializzazione di tutti gli strumenti di lavoro e al fine di centralizzare l'elenco delle API chiamate, eseguo l'`import` di tutte le librerie di cui avrò bisogno nel resto del progetto.

In [2]:
# funzioni di utilità che operano su intere colonne dei DF Spark
from pyspark.sql.functions import col, when, count, isnan, isnull
from pyspark.sql.functions import log, exp, skewness

# tutto il necessario per la creazione ed esecuzione della pipeline di addestramento, assieme alla valutazione del risultato
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import IndexToString
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml.tuning import ParamGridBuilder
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

# pacchetti di visualizzazione
import matplotlib.pyplot as plt
import seaborn as sns

# altro
from math import floor
from pyspark.ml.stat import Correlation

## 2. Data analysis
Questa sezione è dedicata all'analisi del dataset fornito, mirata al data cleaning e alla feature engineering, sulla base di cui sarà successivamente possibile effettuare la selezione finale delle variabili da fornire allo stage di apprendimento.

### 2.1 Analisi eplorativa
Come primo step, sfrutto la `SparkSession` istanziata per leggere il dataset direttamente da HDFS e associare ad esso i rispettivi DataFrame Spark.

In [3]:
# entrambi i csv presentano una riga di header con lo schema completo dei record successivi, 
# per cui la struttura viene ricavata automaticamente settando il parametro inferSchema a True

datasets = {'trainDF': spark.read.csv('hdfs://localhost:9000/bigdata/houseprices/datasets/train.csv', header=True, inferSchema=True),
            'testDF': spark.read.csv('hdfs://localhost:9000/bigdata/houseprices/datasets/test.csv', header=True, inferSchema=True)}

In [4]:
# visualizzo alcuni metadati sul DF per controllare che l'import sia avvenuto per come mi aspetto
datasets['trainDF'].printSchema()
print(f"Numero di righe del training set: {datasets['trainDF'].count()}")

# questo è uno dei pochi casi in cui viene utilizzato il metodo toPandas(), giustificato dalle seguenti motivazioni:
#   - prima della conversione estraggo solo le prime 10 righe del DF con limit(10) in maniera tale da riportare in locale solo
#     una piccola frazione dell'intero dataset;
#   - la visualizzazione del DF pandas comprende una scrollbar orizzontale che risulta più 'pulita' rispetto al df.show() di pyspark, 
#     che, nel caso di un numero esteso di colonne effettua il wrapping dell'output;
datasets['trainDF'].limit(10).toPandas().style.hide(axis='index')

root
 |-- Id: integer (nullable = true)
 |-- MSSubClass: integer (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- LotArea: integer (nullable = true)
 |-- Street: string (nullable = true)
 |-- Alley: string (nullable = true)
 |-- LotShape: string (nullable = true)
 |-- LandContour: string (nullable = true)
 |-- Utilities: string (nullable = true)
 |-- LotConfig: string (nullable = true)
 |-- LandSlope: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Condition1: string (nullable = true)
 |-- Condition2: string (nullable = true)
 |-- BldgType: string (nullable = true)
 |-- HouseStyle: string (nullable = true)
 |-- OverallQual: integer (nullable = true)
 |-- OverallCond: integer (nullable = true)
 |-- YearBuilt: integer (nullable = true)
 |-- YearRemodAdd: integer (nullable = true)
 |-- RoofStyle: string (nullable = true)
 |-- RoofMatl: string (nullable = true)
 |-- Exterior1st: string (nullable = true)
 |-- Exterior2nd: string (nullable = true)
 |-- MasVnrType: string (nullable = true)
 |-- MasVnrArea: string (nullable = true)
 |-- ExterQual: string (nullable = true)
 |-- ExterCond: string (nullable = true)
 |-- Foundation: string (nullable = true)
 |-- BsmtQual: string (nullable = true)
 |-- BsmtCond: string (nullable = true)
 |-- BsmtExposure: string (nullable = true)
 |-- BsmtFinType1: string (nullable = true)
 |-- BsmtFinSF1: integer (nullable = true)
 |-- BsmtFinType2: string (nullable = true)
 |-- BsmtFinSF2: integer (nullable = true)
 |-- BsmtUnfSF: integer (nullable = true)
 |-- TotalBsmtSF: integer (nullable = true)
 |-- Heating: string (nullable = true)
 |-- HeatingQC: string (nullable = true)
 |-- CentralAir: string (nullable = true)
 |-- Electrical: string (nullable = true)
 |-- 1stFlrSF: integer (nullable = true)
 |-- 2ndFlrSF: integer (nullable = true)
 |-- LowQualFinSF: integer (nullable = true)
 |-- GrLivArea: integer (nullable = true)
 |-- BsmtFullBath: integer (nullable = true)
 |-- BsmtHalfBath: integer (nullable = true)
 |-- FullBath: integer (nullable = true)
 |-- HalfBath: integer (nullable = true)
 |-- BedroomAbvGr: integer (nullable = true)
 |-- KitchenAbvGr: integer (nullable = true)
 |-- KitchenQual: string (nullable = true)
 |-- TotRmsAbvGrd: integer (nullable = true)
 |-- Functional: string (nullable = true)
 |-- Fireplaces: integer (nullable = true)
 |-- FireplaceQu: string (nullable = true)
 |-- GarageType: string (nullable = true)
 |-- GarageYrBlt: string (nullable = true)
 |-- GarageFinish: string (nullable = true)
 |-- GarageCars: integer (nullable = true)
 |-- GarageArea: integer (nullable = true)
 |-- GarageQual: string (nullable = true)
 |-- GarageCond: string (nullable = true)
 |-- PavedDrive: string (nullable = true)
 |-- WoodDeckSF: integer (nullable = true)
 |-- OpenPorchSF: integer (nullable = true)
 |-- EnclosedPorch: integer (nullable = true)
 |-- 3SsnPorch: integer (nullable = true)
 |-- ScreenPorch: integer (nullable = true)
 |-- PoolArea: integer (nullable = true)
 |-- PoolQC: string (nullable = true)
 |-- Fence: string (nullable = true)
 |-- MiscFeature: string (nullable = true)
 |-- MiscVal: integer (nullable = true)
 |-- MoSold: integer (nullable = true)
 |-- YrSold: integer (nullable = true)
 |-- SaleType: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: integer (nullable = true)

Numero di righe del training set: 1460

In [5]:
# ripeto la stessa operazione per il testset
datasets['testDF'].printSchema()
print(f"Numero di righe del test set: {datasets['testDF'].count()}")
datasets['testDF'].limit(10).toPandas().style.hide(axis='index')

root
 |-- Id: integer (nullable = true)
 |-- MSSubClass: integer (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- LotArea: integer (nullable = true)
 |-- Street: string (nullable = true)
 |-- Alley: string (nullable = true)
 |-- LotShape: string (nullable = true)
 |-- LandContour: string (nullable = true)
 |-- Utilities: string (nullable = true)
 |-- LotConfig: string (nullable = true)
 |-- LandSlope: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Condition1: string (nullable = true)
 |-- Condition2: string (nullable = true)
 |-- BldgType: string (nullable = true)
 |-- HouseStyle: string (nullable = true)
 |-- OverallQual: integer (nullable = true)
 |-- OverallCond: integer (nullable = true)
 |-- YearBuilt: integer (nullable = true)
 |-- YearRemodAdd: integer (nullable = true)
 |-- RoofStyle: string (nullable = true)
 |-- RoofMatl: string (nullable = true)
 |-- Exterior1st: string (nullable = true)
 |-- Exterior2nd: string (nullable = true)
 |-- MasVnrType: string (nullable = true)
 |-- MasVnrArea: string (nullable = true)
 |-- ExterQual: string (nullable = true)
 |-- ExterCond: string (nullable = true)
 |-- Foundation: string (nullable = true)
 |-- BsmtQual: string (nullable = true)
 |-- BsmtCond: string (nullable = true)
 |-- BsmtExposure: string (nullable = true)
 |-- BsmtFinType1: string (nullable = true)
 |-- BsmtFinSF1: string (nullable = true)
 |-- BsmtFinType2: string (nullable = true)
 |-- BsmtFinSF2: string (nullable = true)
 |-- BsmtUnfSF: string (nullable = true)
 |-- TotalBsmtSF: string (nullable = true)
 |-- Heating: string (nullable = true)
 |-- HeatingQC: string (nullable = true)
 |-- CentralAir: string (nullable = true)
 |-- Electrical: string (nullable = true)
 |-- 1stFlrSF: integer (nullable = true)
 |-- 2ndFlrSF: integer (nullable = true)
 |-- LowQualFinSF: integer (nullable = true)
 |-- GrLivArea: integer (nullable = true)
 |-- BsmtFullBath: string (nullable = true)
 |-- BsmtHalfBath: string (nullable = true)
 |-- FullBath: integer (nullable = true)
 |-- HalfBath: integer (nullable = true)
 |-- BedroomAbvGr: integer (nullable = true)
 |-- KitchenAbvGr: integer (nullable = true)
 |-- KitchenQual: string (nullable = true)
 |-- TotRmsAbvGrd: integer (nullable = true)
 |-- Functional: string (nullable = true)
 |-- Fireplaces: integer (nullable = true)
 |-- FireplaceQu: string (nullable = true)
 |-- GarageType: string (nullable = true)
 |-- GarageYrBlt: string (nullable = true)
 |-- GarageFinish: string (nullable = true)
 |-- GarageCars: string (nullable = true)
 |-- GarageArea: string (nullable = true)
 |-- GarageQual: string (nullable = true)
 |-- GarageCond: string (nullable = true)
 |-- PavedDrive: string (nullable = true)
 |-- WoodDeckSF: integer (nullable = true)
 |-- OpenPorchSF: integer (nullable = true)
 |-- EnclosedPorch: integer (nullable = true)
 |-- 3SsnPorch: integer (nullable = true)
 |-- ScreenPorch: integer (nullable = true)
 |-- PoolArea: integer (nullable = true)
 |-- PoolQC: string (nullable = true)
 |-- Fence: string (nullable = true)
 |-- MiscFeature: string (nullable = true)
 |-- MiscVal: integer (nullable = true)
 |-- MoSold: integer (nullable = true)
 |-- YrSold: integer (nullable = true)
 |-- SaleType: string (nullable = true)
 |-- SaleCondition: string (nullable = true)

Numero di righe del test set: 1459

#### 2.1.1 Variabili numeriche e categoriche
Come è possibile vedere dall'output di `printSchema()`, tutti i vari campi sono `nullable`, con tipo di dato inferito `string` o `integer`. Ciò significa che il dataset può contenere valori nulli e che sono presenti sia variabili categoriche che numeriche, le quali dovranno essere gestite separatamente.

Una prima stima sulla separazione tra le due tipologie di variabili può essere svolta controllando il `dtype` inferito da Spark per `trainDF`:

In [6]:
init_cat_vars_est = [item[0] for item in datasets['trainDF'].dtypes if item[1].startswith('string')]
print(f"Stima iniziale del numero di variabili categoriche: {len(init_cat_vars_est)}\n {init_cat_vars_est}")

Stima iniziale del numero di variabili categoriche: 46
 ['MSZoning', 'LotFrontage', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [7]:
# il set delle varaibili numeriche è il complementare di quelle categoriche, eccetto per il campo 'Id' che, seppur numerico, non
# fornisce informazioni aggiuntive sui record
init_num_vars_est = [var for var in datasets['trainDF'].columns if var not in init_cat_vars_est and var != 'Id']
print(f"Stima iniziale del numero di variabili numeriche: {len(init_num_vars_est)}\n {init_num_vars_est}")

Stima iniziale del numero di variabili numeriche: 34
 ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice']

Per quanto la deduzione automatica dei tipi dia una prospettiva generale sulla distribuzione delle tipologie di dato, la cross-reference con le informazioni fornite dalla piattaforma Kaggle* suggerisce la presenza di alcune inesattezze nella stima effettuata. Ne sono un esempio i campi **LotFrontage**, **MasVnrArea** e **GarageYrBuilt**** di `trainDF` che, seppur inseriti in `init_cat_vars_est`, sono in realtà variabili numeriche, e sono state parsate come stringhe in quanto le istanze di dati (numerici) mancanti, in questo dataset, sono codificate con `NA`, che, non essendo una keyword Python (come invece è `None`), viene interpretata come stringa.

Lo stesso discorso, in `testDF`, isola le feature **BsmtFinSF1**, **BsmtFinSF2**, **BsmtUnfSF**, **TotalBsmtSF**, **BsmtFullBath**, **BsmtHalfBath**, **GarageCars**, **GarageArea**.

Sulla base di queste considerazioni è possibile riportare le colonne in questione al tipo corretto.

*Ad esempio, è immediato riconoscere una feature numerica se il suo nome presenta il suffisso **\[...\]Area** o **\[...\]SF** (Square Feet).

**Nonostante non ci sia una chiara separazione tra l'interpretazione delle variabili 'anno' in termini numerici
o categorici, risulterà più conveniente trattarle come numeriche.

In [8]:
cat_to_num_vars_train = ['LotFrontage', 'MasVnrArea', 'GarageYrBlt']
cat_to_num_vars_test = ['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 
                            'BsmtFullBath', 'BsmtHalfBath', 'GarageCars', 'GarageArea']

cat_to_num_vars = cat_to_num_vars_train + cat_to_num_vars_test

# effettuo la conversione categorico -> numerico  per ogni variabile cat_to_num_vars
for name in datasets.keys():
    for var in cat_to_num_vars:

        # sostituisco nelle colonne interessate le istanze di 'NA' con None
        datasets[name] = datasets[name].withColumn(var, \
                                                when(datasets[name][var] == 'NA', None).\
                                                otherwise(datasets[name][var]))

        # una volta che le stringhe sono state rimosse, eseguo il cast della colonna ad un tipo numerico (dato che non so se effettivamente
        # tutti i valori non nulli sono interi, scelgo il cast a double per essere sicuro di evitare troncamenti)
        datasets[name] = datasets[name].withColumn(var, col(var).cast('double'))

Di contro, è possibile notare anche che variabili numeriche che codificano una suddivisione in classi sono in realtà categoriche, come nel caso di MSSubClass, la cui descrizione in `data_description.txt` è:
```
MSSubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES
        30	1-STORY 1945 & OLDER
        40	1-STORY W/FINISHED ATTIC ALL AGES
        45	1-1/2 STORY - UNFINISHED ALL AGES
        50	1-1/2 STORY FINISHED ALL AGES
        60	2-STORY 1946 & NEWER
        70	2-STORY 1945 & OLDER
        75	2-1/2 STORY ALL AGES
        80	SPLIT OR MULTI-LEVEL
        85	SPLIT FOYER
        90	DUPLEX - ALL STYLES AND AGES
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER
       150	1-1/2 STORY PUD - ALL AGES
       160	2-STORY PUD - 1946 & NEWER
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES
```

In [9]:
# eseguo direttamente il cast a string e non tengo conto dei 'NA' in quanto:
#   - dalla documentazione Kaggle, non sono presenti valori nulli (eplicitamente codificati) nella colonna MSSubClass;
#   - l'eventuale presenza di valori None verrà gestita dalle successive procedure di imputazione dei valori nulli.
for name in datasets.keys():
    datasets[name] = datasets[name].withColumn('MSSubClass', col('MSSubClass').cast('string'))

Adesso sono sicuro che sia `trainDF` che `testDF` hanno lo stesso schema e le stesse tipologie di variabili, sempre a meno del target **SalePrice**.

In [10]:
# sistemo la lista della stima iniziale attraverso il DF trasformato
cat_vars_est = [item[0] for item in datasets['trainDF'].dtypes if item[1].startswith('string')]
num_vars_est = [var for var in datasets['trainDF'].columns if var not in cat_vars_est and var != 'Id']

print(f"Nuova stima del numero delle variabili categoriche di trainDF: {len(cat_vars_est)}\n {cat_vars_est}")
print(f"\nNuova stima del numero di variabili numeriche di trainDF: {len(num_vars_est)}\n {num_vars_est}")

Nuova stima del numero delle variabili categoriche di trainDF: 44
 ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

Nuova stima del numero di variabili numeriche di trainDF: 36
 ['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice']

In [11]:
# controllo la corrispondenza con i tipi del testset
cat_vars_est_t = [item[0] for item in datasets['testDF'].dtypes if item[1].startswith('string')]
num_vars_est_t = [var for var in datasets['testDF'].columns if var not in cat_vars_est and var != 'Id']

print(f"Nuova stima del numero delle variabili categoriche di testDF: {len(cat_vars_est_t)}\n {cat_vars_est_t}")
print(f"\nNuova stima del numero di variabili numeriche di testDF: {len(num_vars_est_t)}\n {num_vars_est_t}")

Nuova stima del numero delle variabili categoriche di testDF: 44
 ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

Nuova stima del numero di variabili numeriche di testDF: 35
 ['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

Bisognerà anche tenere conto che, nelle variabili effettivamente categoriche, `NA` non sempre equivale a `None`, dato che per alcune di esse è da interpretare come 'assenza (nell'abitazione) della caratteristica da categorizzare' e non come 'dato mancante', come anche viene esplicitato in `data_description.txt`, in cui ad esempio `NA` in `Fence` ha significato di 'staccionata non presente':

```
Fence: Fence quality
		
       GdPrv	Good Privacy
       MnPrv	Minimum Privacy
       GdWo	Good Wood
       MnWw	Minimum Wood/Wire
       NA	No Fence
```

In aggiunta, alcune variabili qualitative __[possono essere interpretate come ordinali categoriche](https://stats.oarc.ucla.edu/other/mult-pkg/whatstat/what-is-the-difference-between-categorical-ordinal-and-interval-variables/)__ nel caso in cui le categorie in questione abbiano un qualche tipo di ordinamento ben definito. Le feature in questione sono ExterQual, ExterCond, BsmtQual, BsmtCond, HeatingQC, KitchenQual, FireplaceQu, GarageQual, GarageCond, PoolQC